mixin details(data)
  section.details
    .container
      .row
        .col-xl-5
          h2.details__title.h1 Коротко о&nbsp;программе
        .col-xl
          .details__content
            p.
              Зимний лагерь Командор&nbsp;&mdash; это возможность научиться кататься на&nbsp;горных лыжах и&nbsp;сноуборде под руководством лучших инструкторов национальной лиги (ISIA). Вас ждут ежедневные занятия на&nbsp;горе, подготовленные на&nbsp;европейском уровне трассы горно-туристического центра &laquo;ГАЗПРОМ&raquo;.
            p.
              Горно-туристический центр &laquo;Газпром&raquo; включает 23&nbsp;трассы, протяжённостью до&nbsp;1900&nbsp;м, подходящие как для профессионалов так и&nbsp;для новичков, удобные подъемники. Катание возможно даже в&nbsp;вечернее время, тут есть много освещенных трасс. Помимо занятий на&nbsp;горе, ребят ждет посещение бассейна и&nbsp;банного комплекса, творческие зимние мастер-классы, активные игры на&nbsp;свежем воздухе, спортивные турниры и&nbsp;соревнования.
            p.
              Наши инструкторы имеют квалификацию НЛИ. Ежегодно проходят профессиональную подготовку по&nbsp;горнолыжному спорту и&nbsp;сноуборду.
