mixin way(data)
  section.way
    .top-wave
      | <svg viewBox="0 0 1440 200" fill="none" preserveAspectRatio="none"  xmlns="http://www.w3.org/2000/svg">
      | <path fill-rule="evenodd" clip-rule="evenodd" d="M1054.94 60.4257C808.303 60.4257 634.953 200 368.025 200C101.097 200 0 130.212 0 130.212V0.723145H1440V138.905C1440 138.905 1301.58 60.4257 1054.94 60.4257Z" fill="white"/>
      | </svg>
    .way__wrapper
      .way__inner
        .container
          h2.way__title.h1.d-xl-none Как выбрать направление для ребенка?
          .row.flex-xl-row-reverse
            .col-xl-6
              .way__video
                .video.js-video
                  a.video__link(href='https://www.youtube.com/watch?v=H1iboKia3AQ' data-id="H1iboKia3AQ" )
                    picture
                      source(type="image/webp" srcset="__static__img/content/video-preview.webp")
                      img.video__media(src='__static__img/content/video-preview.jpg' srcset="__static__img/general/video-preview@2x.jpg 2x" alt="Видео с основателем лагеря — Светлана Михайлова" width=699 height=500 loading="lazy")
                  button.video__button(type='button', aria-label='Запустить видео').button-play
                    +icon('play', 11, 13)
                span.way__caption Видео с&nbsp;основателем лагеря&nbsp;&mdash; Светлана Михайлова
            .col-xl-6
              h2.way__title.h1.d-none.d-xl-block Как выбрать направление для ребенка?
              .way__description
                p.
                  Мы&nbsp;понимаем, что каждый ребенок уникален и&nbsp;чтобы помочь Вам выбрать направление мы&nbsp;подготовили онлайн-тест. Пройдя его&nbsp;Вы сможете определиться с&nbsp;наиболее интересными для Вас вариантами.
                p.
                  Также, Вы&nbsp;всегда можете обратиться к&nbsp;нашему менеджеру для помощи в&nbsp;выборе.
              .way__buttons
                 a(href="#").way__get-test.button.button--primary.button--has-arrow-right Пройти тест
                 a(href="#").way__ask.button.button--outline Проконсультироваться
      .bottom-wave
        | <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"  fill="none" viewBox="0 0 1440 143">
        |   <path fill="#ECF8E4" fill-rule="evenodd" d="M607.48 9.85c32.54-3.6 74.15.57 108.7 7.62 33.99 7.04 102.09 33.78 144.71 51.32 109.14 46.3 192.51 63.98 277.32 71.46 33.98 3.02 70.12 5.03 148.88-3.6 78.76-8.62 152.91-36.8 152.91-36.8V.5H0v43.56s103.67 46.87 228.07 43.86c56.45-1.01 133.62-9.64 192.94-32.21 30.53-11.65 75.16-26.17 114.76-34.8 39.16-9.05 56.88-9.63 71.7-11.06z" clip-rule="evenodd"/>
        | </svg>
