// Common styles of the project
html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: 300 18px/1.333 'GT Walsheim Pro', Verdana, sans-serif;
  color: #000;
  background-color: #fff;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
  @include media-breakpoint-up(xl) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h1.promo__title {
  font-weight: 700;
}

h1.promo__title {
  line-height: 1.09;
  font-size: 42px;

  @include media-breakpoint-up(xl) {
    font-size: 72px;
    line-height: 1.11;
  }
}

.lead {
  line-height: 1.25;
  font-size: 24px;
}

h1,
.h1 {
  font-size: 36px;
  line-height: 1.16;
  @include media-breakpoint-up(xl) {
    line-height: 1.14;
    font-size: 56px;
  }
}

h2,
.h2 {
  line-height: 1.13;
  font-size: 30px;
  @include media-breakpoint-up(xl) {
    line-height: 1.14;
    font-size: 42px;
  }
}

.h3,
h3 {
  font-size: 30px;
  line-height: 1.14;
  @include media-breakpoint-up(xl) {
    line-height: 1.13;
    font-size: 36px;
  }
}

h4,
.h4 {
  font-size: 24px;
  line-height: 1.25;
  @include media-breakpoint-up(xl) {
    font-size: 30px;
    line-height: 1.2;
  }
}

p:only-child {
  margin-bottom: 0;
}

a {
  transition: $transition-base;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  &:not(.no-gutters) {
    @include media-breakpoint-up(xl) {
      margin-right: -22px;
      margin-left: -22px;
    }
    > [class*="col-"] {
      @include media-breakpoint-up(xl) {
        padding-right: 22px;
        padding-left: 22px;
      }
    }
  }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  @include media-breakpoint-up(xl) {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

label {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding-top: 21px;
  padding-bottom: 9px;
  margin: -5px;
  &:empty {
    padding: 0;
    margin: 0;
  }
  &__item {
    display: inline-flex;
    position: relative;
    margin: 5px;
    padding: 8px 40px 8px 10px;
    background-color: #eef3fa;
    border-radius: 4px;
  }
  &__remove {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    border: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M4.87 4l2.95-2.95a.62.62 0 0 0-.87-.87L4 3.13 1.05.18a.62.62 0 0 0-.87.87L3.13 4 .18 6.95a.62.62 0 0 0 .87.87L4 4.87l2.95 2.95a.62.62 0 0 0 .87-.87L4.87 4z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px bottom 50%;
  }
}

.custom-select {
  display: block;
}

.top-wave {
  position: relative;
  top: -1px;
}

.bottom-wave {
  position: relative;
  bottom: 1px;
}

.page-content {
  background-color: #f9f9f9;
}

.content {
  padding-top: 30px;
  @include media-breakpoint-up(xl) {
    padding-top: 42px;
  }
  &__header {
    margin-bottom: 28px;
  }
  .breadcrumb {
    margin-bottom: 18px;
  }
  &__additional-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    .show-more__btn {
      margin-bottom: 12px;
    }
  }
  &__title {
    max-width: 748px;
    margin-bottom: 30px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 52px;
    }
  }
  &__subtitle {
    max-width: 800px;
    margin-bottom: 0;
  }
  &__read-full {
    padding-top: 30px;
    a {
      text-transform: none;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0;
      &::before {
        bottom: -2px;
      }
    }
  }
}
