// File for scss-vars.
// For example: main colors, paddings and so on.
$primary: #ecf8e4;
$secondary: #fcf8bb;

$light-green: #eefaee;
$green-medium: #76bd60;
$green: #6cb854;
$green-dark: #43832e;
$orange: #f6bc41;

$light-pink: #f9f4f0;
$light-orange: #fefbea;

$blue: #005c9d;
