mixin articles(data)
  .articles
    .wave-top
      | <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="none" viewBox="0 0 1440 199.28">
      |   <title>Path</title>
      |   <path fill="#fff" d="M1054.94,60.42C808.3,60.42,635,200,368,200S0,130.21,0,130.21V.72H1440V138.9s-138.42-78.48-385.06-78.48Z" transform="translate(0 -0.72)"/>
      | </svg>
    .articles__body
      .articles__wrapper
        .container
          .articles__inner
            section.articles__section
              h2.articles__title.h1 Мастер-классы
              div(role="list").row
                div(role="listitem").col-md-6.col-lg-3
                  article.articles__item
                    .articles__preview
                      img(src="__static__img/content/article-1.jpg"  srcset="__static__img/content/article-1@2x.jpg 2x" width="270" height="135" alt="Игрушки из фетра")
                    h3.articles__name.h4 Игрушки из&nbsp;фетра
                    p.articles__description.
                      Мы&nbsp;смастерим новогоднюю игрушку из&nbsp;фетра. Проявим воображение и&nbsp;фантазию по&nbsp;созданию новогоднего подарка.
                div(role="listitem").col-md-6.col-lg-3
                  article.articles__item
                    .articles__preview
                      img(src="__static__img/content/article-2.jpg"  srcset="__static__img/content/article-2@2x.jpg 2x" width="270" height="135" alt="Роспись елочных игрушек")
                    h3.articles__name.h4 Роспись елочных игрушек
                    p.articles__description.
                      Делаем настоящие шедевры. Мастера покажут несколько приемов как раскрасить игрушку разнообразными контурами, красками и&nbsp;украшениями.
                div(role="listitem").col-md-6.col-lg-3
                  article.articles__item
                    .articles__preview
                      img(src="__static__img/content/article-3.jpg"  srcset="__static__img/content/article-3@2x.jpg 2x" width="270" height="135" alt="Открытки")
                    h3.articles__name.h4 Открытки
                    p.articles__description.
                      Подключаем воображение и&nbsp;создаем Новогоднюю открытку своими руками. На&nbsp;мастер-классе будут использоваться такие техники как скрапбукинг, тиснение, квиллинг, и&nbsp;эмбоссинг.
                div(role="listitem").col-md-6.col-lg-3
                  article.articles__item
                    .articles__preview
                      img(src="__static__img/content/article-4.jpg"  srcset="__static__img/content/article-4@2x.jpg 2x" width="270" height="135" alt="Новогодние сувениры")
                    h3.articles__name.h4 Новогодние сувениры
                    p.articles__description.
                      Подключаем воображение и&nbsp;создаем Новогоднюю открытку своими руками. На&nbsp;мастер-классе будут использоваться такие техники как скрапбукинг, тиснение, квиллинг, и&nbsp;эмбоссинг.
            section.articles__section
              h2.articles__title.h1 Вечерние мероприятия и&nbsp;развлечения
              div(role="list").row
                div(role="listitem").col-md-6.col-lg-3
                  article.articles__item
                    .articles__preview
                      img(src="__static__img/content/article-5.jpg"  srcset="__static__img/content/article-5@2x.jpg 2x" width="270" height="135" alt="Вечер знакомств")
                    h3.articles__name.h4 Вечер знакомств
                    p.articles__description.
                      Как быстрее всего познакомиться? Конечно&nbsp;же попасть вместе в&nbsp;нестандартную ситуации из&nbsp;которой нужно найти выход. Эта командная игра позволяет сплотить ребят.
                div(role="listitem").col-md-6.col-lg-3
                  article.articles__item
                    .articles__preview
                      img(src="__static__img/content/article-6.jpg"  srcset="__static__img/content/article-6@2x.jpg 2x" width="270" height="135" alt="Шоу «Самый умный»")
                    h3.articles__name.h4 Шоу &laquo;Самый умный&raquo;
                    p.articles__description.
                      Два часа загадок, головоломок и&nbsp;интеллектуальных состязаний за&nbsp;звание самой умной команды лагеря. Коварные испытания на&nbsp;проверку знаний и&nbsp;уровня&nbsp;IQ.
                div(role="listitem").col-md-6.col-lg-3
                  article.articles__item
                    .articles__preview
                      img(src="__static__img/content/article-7.jpg"  srcset="__static__img/content/article-7@2x.jpg 2x" width="270" height="135" alt="Шоу талантов")
                    h3.articles__name.h4 Шоу талантов
                    p.articles__description.
                      Уже традиционно в&nbsp;каждой смене лагеря мы&nbsp;проводим &laquo;Шоу талантов&raquo;. Тут каждый сможет проявить себя и&nbsp;раскрыть свои способности на&nbsp;публике.
                div(role="listitem").col-md-6.col-lg-3
                  article.articles__item
                    .articles__preview
                      img(src="__static__img/content/article-8.jpg"  srcset="__static__img/content/article-8@2x.jpg 2x" width="270" height="135" alt="Мальчики против девочек")
                    h3.articles__name.h4 Мальчики против девочек
                    p.articles__description.
                      Веселое шоу, где играют две команды мальчики против девочек. Сложные задания и&nbsp;коварные вопросы помогут выявить кто&nbsp;же сообразительней и&nbsp;сильней
              .articles__important
                strong Важно!
                p.
                  Каждую смену мы&nbsp;создаем оригинальный набор мастер-классов
                  и&nbsp;мероприятий, выше приведены лишь пример из&nbsp;проведенных смен.
      .wave-bottom
        | <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="none" viewBox="0 0 1440 200" fill="none">
        |   <path fill="#ECF8E4" fill-rule="evenodd" d="M385.06 59.7c246.64 0 419.99 139.58 686.92 139.58 266.92 0 368.02-69.8 368.02-69.8V0H0v138.18S138.42 59.7 385.06 59.7z" clip-rule="evenodd"/>
        | </svg>
