mixin why-we(data)
  .why-we
    .container
      .why-like__list-wrapper
        .why-like__img.d-none.d-xl-block
          img(src="__static__img/general/media.png" srcset="__static__img/general/media@2x.png 2x" width=450 height=595 alt="" aria-hidden="true")
        ul.why-like__list
          li.why-like__item.li.why-like__item--1
            span.why-like__circle.yellow много новых друзей
          li.why-like__item.li.why-like__item--2
            span.why-like__circle.pink много фотографий
          li.why-like__item.li.why-like__item--3
            span.why-like__circle.green раскрыть в себе новые таланты
          li.why-like__item.li.why-like__item--4
            span.why-like__circle.yellow футболка командор
          li.why-like__item.li.why-like__item--5
            span.why-like__circle.green позитивные эмоции
          li.why-like__item.li.why-like__item--6
            span.why-like__circle.pink членство в клубе Командор!
