mixin include(data)
  section.include
    .container
      .include__inner
        h2.include__title.h1 Что включено в&nbsp;стоимость путевки?
        article.include__group
          .row.justify-content-lg-between
            .col-md-6.col-xl-4
              .include__left-column
                h3.include__name.h2 Трансфер
                .include__wrapper
                  .include__list.features
                    div(role="list").row
                      div(role="listitem").col-6
                        .features__item
                          .features__circle
                            img(src="__static__img/general/transfer-1.svg" alt="" width=41 height=56 aria-hidden="true")
                          span.features__name фирменный поезд
                      div(role="listitem").col-6
                        .features__item
                          .features__circle
                            img(src="__static__img/general/transfer-2.svg" alt="" width=56 height=56 aria-hidden="true")
                          span.features__name все внутренние маршруты включены
                      div(role="listitem").col-6
                        .features__item
                          .features__circle
                            img(src="__static__img/general/fetaures-1.svg" alt="" width=54 height=56 aria-hidden="true")
                          span.features__name транспорт с&nbsp;лицензией
                      div(role="listitem").col-6
                        .features__item
                          .features__circle
                            img(src="__static__img/general/transfer-4.svg" alt="" width=46 height=46 aria-hidden="true")
                          span.features__name 6&nbsp;часов в&nbsp;пути
                  .include__more.show-more
                    div(data-hideshow-prefix-class="animated").show-more__btn.js-expandmore
                      span Дополнительная информация
                    .js-to_expand
                      .show-more__content
                        p Стратегический рыночный план пока плохо специфицирует департамент маркетинга и&nbsp;продаж, отвоевывая рыночный сегмент. Пул лояльных изданий индуцирует пак-шот. Баннерная реклама программирует конвергентный побочный PR-эффект. Еще Траут показал, что раскрутка детерминирует обществвенный социальный статус. Позиционирование на&nbsp;рынке, в&nbsp;рамках сегодняшних воззрений, конструктивно. Охват аудитории детерминирует конструктивный медиабизнес, не&nbsp;считаясь с&nbsp;затратами.
            .col-xl.d-none.d-xl-block
              .include__main-image
                img(src="__static__img/general/why-like.png" srcset="__static__img/general/why-like@2x.png 2x" width="376" height="438" aria-hidden="true" alt="")
            .col-md-6.col-lg-auto.col-xl-4
              .include__photos.include__photos--first
                .row
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6
                    a(href="__static__img/content/include-group-1-1@2x.jpg" data-lightbox="1-group").include__photo
                      img(src="__static__img/content/include-group-1-1.jpg" srcset="__static__img/content/include-group-1-1@2x.jpg 2x" width="165" height="108" alt="фото-1")
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6
                    a(href="__static__img/content/include-group-1-2@2x.jpg" data-lightbox="1-group").include__photo
                      img(src="__static__img/content/include-group-1-2.jpg" srcset="__static__img/content/include-group-1-2@2x.jpg 2x" width="165" height="108" alt="фото-2")
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6.d-none.d-xl-block
                    a(href="__static__img/content/include-group-1-3@2x.jpg" data-lightbox="1-group").include__photo
                      img(src="__static__img/content/include-group-1-3.jpg" srcset="__static__img/content/include-group-1-3@2x.jpg 2x" width="165" height="108" alt="фото-3")
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6.d-none.d-xl-block
                    a(href="__static__img/content/include-group-1-4@2x.jpg" data-lightbox="1-group").include__photo
                      img(src="__static__img/content/include-group-1-4.jpg" srcset="__static__img/content/include-group-1-4@2x.jpg 2x" width="165" height="108" alt="фото-4")
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6.d-none.d-xl-block
                    a(href="__static__img/content/include-group-1-5@2x.jpg" data-lightbox="1-group").include__photo
                      img(src="__static__img/content/include-group-1-5.jpg" srcset="__static__img/content/include-group-1-5@2x.jpg 2x" width="165" height="108" alt="фото-5")
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6.d-none.d-xl-block
                    a(href="__static__img/content/include-group-1-6@2x.jpg" data-lightbox="1-group").include__photo
                      img(src="__static__img/content/include-group-1-6.jpg" srcset="__static__img/content/include-group-1-6@2x.jpg 2x" width="165" height="108" alt="фото-6")

        article.include__group
          h3.include__name.h2 Проживание
          .row.justify-content-lg-between
            .col-md-6.col-xl-4
              .include__wrapper
                .features
                  div(role="list").row
                    div(role="listitem").col-6
                      .features__item
                        .features__circle
                          img(src="__static__img/general/living-1.svg" alt="" width=47 height=56 aria-hidden="true")
                        span.features__name город Сочи
                    div(role="listitem").col-6
                      .features__item
                        .features__circle
                          img(src="__static__img/general/living-2.svg" alt="" width=60 height=56 aria-hidden="true")
                        span.features__name номер на&nbsp;2&nbsp;&mdash; 4&nbsp;человека
                    div(role="listitem").col-6
                      .features__item
                        .features__circle
                          img(src="__static__img/general/living-3.svg" alt="" width=39 height=56 aria-hidden="true")
                        span.features__name удобства в&nbsp;номере
                    div(role="listitem").col-6
                      .features__item
                        .features__circle
                          img(src="__static__img/general/living-4.svg" alt="" width=46 height=56 aria-hidden="true")
                        span.features__name охраняемая территория
                .include__more.show-more
                  div(data-hideshow-prefix-class="animated").show-more__btn.js-expandmore
                    span Дополнительная информация
                  .js-to_expand
                    .show-more__content
                      p Стратегический рыночный план пока плохо специфицирует департамент маркетинга и&nbsp;продаж, отвоевывая рыночный сегмент. Пул лояльных изданий индуцирует пак-шот. Баннерная реклама программирует конвергентный побочный PR-эффект. Еще Траут показал, что раскрутка детерминирует обществвенный социальный статус. Позиционирование на&nbsp;рынке, в&nbsp;рамках сегодняшних воззрений, конструктивно. Охват аудитории детерминирует конструктивный медиабизнес, не&nbsp;считаясь с&nbsp;затратами.

            .col-md-6.col-lg-auto.col-xl-4
              .include__photos
                .row
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6
                    a(href="__static__img/content/include-group-2-1@2x.jpg" data-lightbox="2-group").include__photo
                      img(src="__static__img/content/include-group-2-1.jpg" srcset="__static__img/content/include-group-2-1@2x.jpg 2x" width="165" height="108" alt="фото-1")
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6
                    a(href="__static__img/content/include-group-1-6@2x.jpg" data-lightbox="2-group").include__photo
                      img(src="__static__img/content/include-group-1-6.jpg" srcset="__static__img/content/include-group-1-6@2x.jpg 2x" width="165" height="108" alt="фото-2")
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6.d-none.d-xl-block
                    a(href="__static__img/content/include-group-1-5@2x.jpg" data-lightbox="2-group").include__photo
                      img(src="__static__img/content/include-group-1-5.jpg" srcset="__static__img/content/include-group-1-5@2x.jpg 2x" width="165" height="108" alt="фото-3")
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6.d-none.d-xl-block
                    a(href="__static__img/content/include-group-2-4@2x.jpg" data-lightbox="2-group").include__photo
                      img(src="__static__img/content/include-group-2-4.jpg" srcset="__static__img/content/include-group-2-4@2x.jpg 2x" width="165" height="108" alt="фото-4")
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6.d-none.d-xl-block
                    a(href="__static__img/content/include-group-2-5@2x.jpg" data-lightbox="2-group").include__photo
                      img(src="__static__img/content/include-group-2-5.jpg" srcset="__static__img/content/include-group-2-5@2x.jpg 2x" width="165" height="108" alt="фото-5")
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6.d-none.d-xl-block
                    a(href="__static__img/content/include-group-1-3@2x.jpg" data-lightbox="2-group").include__photo
                      img(src="__static__img/content/include-group-1-3.jpg" srcset="__static__img/content/include-group-1-3@2x.jpg 2x" width="165" height="108" alt="фото-6")
        article.include__group
          h3.include__name.h2 Питание
          .row.justify-content-lg-between
            .col-md-6.col-xl-4
              .include__wrapper
                .features
                  div(role="list").row
                    div(role="listitem").col-6
                      .features__item
                        .features__circle
                          img(src="__static__img/general/food-1.svg" alt="" width=54 height=56 aria-hidden="true")
                        span.features__name только вкусная и&nbsp;здоровая еда
                    div(role="listitem").col-6
                      .features__item
                        .features__circle
                          img(src="__static__img/general/food-2.svg" alt="" width=56 height=42 aria-hidden="true")
                        span.features__name возможно вегетарианское питание
                    div(role="listitem").col-6
                      .features__item
                        .features__circle
                          img(src="__static__img/general/food-3.svg" alt="" width=55 height=56 aria-hidden="true")
                        span.features__name включено трехразовое питание
                    div(role="listitem").col-6
                      .features__item
                        .features__circle
                          img(src="__static__img/general/food-4.svg" alt="" width=55 height=56 aria-hidden="true")
                        span.features__name питание для аллергиков

                .include__more.show-more
                  div(data-hideshow-prefix-class="animated").show-more__btn.js-expandmore
                    span Дополнительная информация
                  .js-to_expand
                    .show-more__content
                      p Стратегический рыночный план пока плохо специфицирует департамент маркетинга и&nbsp;продаж, отвоевывая рыночный сегмент. Пул лояльных изданий индуцирует пак-шот. Баннерная реклама программирует конвергентный побочный PR-эффект. Еще Траут показал, что раскрутка детерминирует обществвенный социальный статус. Позиционирование на&nbsp;рынке, в&nbsp;рамках сегодняшних воззрений, конструктивно. Охват аудитории детерминирует конструктивный медиабизнес, не&nbsp;считаясь с&nbsp;затратами.
                button(data-toggle="modal" data-target="#modal").include__important.border-link.border-link--green Важно знать
            .col-md-6.col-lg-auto.col-xl-4
              .include__photos
                .row
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6
                    a(href="__static__img/content/include-group-3-1@2x.jpg" data-lightbox="3-group").include__photo
                      img(src="__static__img/content/include-group-3-1.jpg" srcset="__static__img/content/include-group-3-1@2x.jpg 2x" width="165" height="108" alt="фото-1")
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6
                    a(href="__static__img/content/include-group-3-2@2x.jpg" data-lightbox="3-group").include__photo
                      img(src="__static__img/content/include-group-3-2.jpg" srcset="__static__img/content/include-group-3-2@2x.jpg 2x" width="165" height="108" alt="фото-2")
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6.d-none.d-xl-block
                    a(href="__static__img/content/include-group-3-3@2x.jpg" data-lightbox="3-group").include__photo
                      img(src="__static__img/content/include-group-3-3.jpg" srcset="__static__img/content/include-group-3-3@2x.jpg 2x" width="165" height="108" alt="фото-3")
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6.d-none.d-xl-block
                    a(href="__static__img/content/include-group-3-4@2x.jpg" data-lightbox="3-group").include__photo
                      img(src="__static__img/content/include-group-3-4.jpg" srcset="__static__img/content/include-group-3-4@2x.jpg 2x" width="165" height="108" alt="фото-4")
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6.d-none.d-xl-block
                    a(href="__static__img/content/include-group-3-5@2x.jpg" data-lightbox="3-group").include__photo
                      img(src="__static__img/content/include-group-3-5.jpg" srcset="__static__img/content/include-group-3-5@2x.jpg 2x" width="165" height="108" alt="фото-5")
                  .col-6.col-sm-auto.col-md-6.col-lg-auto.col-xl-6.d-none.d-xl-block
                    a(href="__static__img/content/include-group-3-6@2x.jpg" data-lightbox="3-group").include__photo
                      img(src="__static__img/content/include-group-3-6.jpg" srcset="__static__img/content/include-group-3-6@2x.jpg 2x" width="165" height="108" alt="фото-6")
    .wave
      | <svg xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" preserveAspectRatio="none" viewBox="0 0 1440 144">
      | <path fill="#ECF8E4" fill-rule="evenodd" d="M1138.32 133.05c-85.39-7.66-168.2-26-277.34-72.22C818.35 42.5 750.24 16.06 716.26 8.98 682.27 1.9 640.5-2.3 607.54 1.32c-14.7 1.6-32.55 2.02-72.15 10.7-39.17 9.09-83.8 23.97-114.33 35.67C361.58 70.65 284.4 79.32 228.1 80.33 103.68 82.64 0 35.84 0 35.84v107.18h1440V92.9s-74.16 28.02-152.93 37.12c-78.19 8.66-114.77 6.06-148.75 3.03z" clip-rule="evenodd"/>
      | </svg>
