.b-accordion {
  &__header {
    position: relative;
    display: block;
    width: 100%;
    border: none;
    padding: 14px 10px;
    padding-right: 30px;
    background: rgba(0, 92, 157, 0.150051);
    text-align: left;
    overflow: hidden;
    @include media-breakpoint-up(xl) {
      padding: 1.05em 2em;
    }
  }
  /* title opened */
  &__header[aria-expanded="true"] {
    background-color: #f0f0f0;
  }
  &__header[aria-expanded="true"]:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath fill='%23000' d='M9.61 9.61h1.42L1.4 0 .01 1.41l9.6 9.62.7.7.72-.7 9.6-9.62L19.24 0 9.6 9.61z'/%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 22px 12px;
    transform: rotate(-180deg);
    transition: $transition-base;
    @include media-breakpoint-up(xl) {
      width: 64px;
    }
  }
  /* title closed */
  &__header[aria-expanded="false"]:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath fill='%23000' d='M9.61 9.61h1.42L1.4 0 .01 1.41l9.6 9.62.7.7.72-.7 9.6-9.62L19.24 0 9.6 9.61z'/%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 22px 12px;
    transition: $transition-base;
    @include media-breakpoint-up(xl) {
      width: 64px;
    }
  }
  &__panel {
    background-color: #f0f0f0;
  }
  &__content {
    padding: 10px 8px;
    @include media-breakpoint-up(xl) {
      line-height: 1.55;
      padding: 10px 64px 21px 50px;
    }
  }
  &__panel[aria-hidden=true] {
    display: none;
  }
  &__title {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
    @include media-breakpoint-up(xl) {
      font-size: 24px;
      line-height: 1.25;
    }
    &:not(:first-of-type) {
      margin-top: 10px;
    }
  }
}
