mixin accordeon(data)
  .js-accordion(data-accordion-prefix-classes='b')
    h2(data-accordion-opened="true").js-accordion__header Какой уровень катания на сноуборде требуется?
    .js-accordion__panel
      .b-accordion__content
        p.
          Если он не умеет - научим.<br>
          Если он уже умеет, то научим особым трюкам. Ему скучно не будет!
    h2.js-accordion__header Если ребенок устанет, может ли пропустить занятие на склоне?
    .js-accordion__panel
      .b-accordion__content
        p.
          Если он не умеет - научим.
          Если он уже умеет, то научим особым трюкам. Ему скучно не будет!
    h2.js-accordion__header Какую экипировку дают? Нужно ли брать свое?
    .js-accordion__panel
      .b-accordion__content
        p.
          Если он не умеет - научим.
          Если он уже умеет, то научим особым трюкам. Ему скучно не будет!
