mixin social(data)
  ul.social&attributes(attributes)
    each item in data
      li.social__item
        a(href="#" target="_blank" aria-label=item.name).social__link
          +icon(item.iconName, item.iconWidth, item.iconHeight)
