mixin permit(data)
  section.permit
    .permit__inner
      .container
        .permit__wrapper
          h2.permit__title.h1 Путевки для детей по направлениям
          .row.justify-content-xl-between
            .col-xl-6
              article.permit__categories
                .permit__icon
                  img(src="__static__img/general/black-flag.svg" width=51 height=60 alt="")
                h3.permit__name-categories.h2 Спортивные
                .permit__list
                  div(role="list").row
                    div(role="listitem").col-6
                      a(href="#").permit__item
                        .permit__circle
                          img(src="__static__img/general/direction-1.png" srcset="__static__img/general/direction-1@2x.png 2x" width="46" height="48" alt="" aria-hidden="true")
                        span.permit__name Мото лагерь
                    div(role="listitem").col-6
                      a(href="#").permit__item
                        .permit__circle
                          img(src="__static__img/general/direction-2.png" srcset="__static__img/general/direction-2@2x.png 2x" width="44" height="34" alt="" aria-hidden="true")
                        span.permit__name Картинг лагерь
                    div(role="listitem").col-6
                      a(href="#").permit__item
                        .permit__circle
                          img(src="__static__img/general/direction-3.png" srcset="__static__img/general/direction-3@2x.png 2x" width="42" height="33" alt="" aria-hidden="true")
                        span.permit__name Авиа лагерь
                    div(role="listitem").col-6
                      a(href="#").permit__item
                        .permit__circle
                          img(src="__static__img/general/direction-4.png" srcset="__static__img/general/direction-4@2x.png 2x" width="37" height="37" alt="" aria-hidden="true")
                        span.permit__name Конный лагерь
                    div(role="listitem").col-6
                      a(href="#").permit__item
                        .permit__circle
                          img(src="__static__img/general/direction-5.png" srcset="__static__img/general/direction-5@2x.png 2x" width="36" height="46" alt="" aria-hidden="true")
                        span.permit__name Серфинг и&nbsp;вейкбординг лагерь
                    div(role="listitem").col-6
                      a(href="#").permit__item
                        .permit__circle
                          img(src="__static__img/general/direction-6.png" srcset="__static__img/general/direction-6@2x.png 2x" width="31" height="47" alt="" aria-hidden="true")
                        span.permit__name Горные лыжи и&nbsp;сноуборд лагерь
                    div(role="listitem").col-6
                      a(href="#").permit__item
                        .permit__circle
                          img(src="__static__img/general/direction-7.png" srcset="__static__img/general/direction-7@2x.png 2x" width="38" height="46" alt="" aria-hidden="true")
                        span.permit__name Танцевальный лагерь
                    div(role="listitem").col-6
                      a(href="#").permit__item
                        .permit__circle
                          img(src="__static__img/general/direction-8.png" srcset="__static__img/general/direction-8@2x.png 2x" width="31" height="47" alt="" aria-hidden="true")
                        span.permit__name Этно лагерь
                    div(role="listitem").col-6
                      a(href="#").permit__item
                        .permit__circle
                          img(src="__static__img/general/direction-9.png" srcset="__static__img/general/direction-9@2x.png 2x" width="38" height="41" alt="" aria-hidden="true")
                        span.permit__name Яхтинг лагерь

            .col-xl-5
              article.permit__categories
                .permit__icon
                  img(src="__static__img/general/have-idea.svg" width=40 height=49 alt="")
                h3.permit__name-categories.h2 Творческие
                .permit__list
                  div(role="list").row
                    div(role="listitem").col-6.col-xl-12
                      a(href="#").permit__item
                        .permit__circle
                          img(src="__static__img/general/direction-10.png" srcset="__static__img/general/direction-10@2x.png 2x" width="40" height="40" alt="" aria-hidden="true")
                        span.permit__name Блогер лагерь
                    div(role="listitem").col-6.col-xl-12
                      a(href="#").permit__item
                        .permit__circle
                          img(src="__static__img/general/direction-11.png" srcset="__static__img/general/direction-11@2x.png 2x" width="42" height="34" alt="" aria-hidden="true")
                        span.permit__name Музыкальный лагерь
                    div(role="listitem").col-6.col-xl-12
                      a(href="#").permit__item
                        .permit__circle
                          img(src="__static__img/general/direction-12.png" srcset="__static__img/general/direction-12@2x.png 2x" width="38" height="39" alt="" aria-hidden="true")
                        span.permit__name Научный лагерь
                    div(role="listitem").col-6.col-xl-12
                      a(href="#").permit__item
                        .permit__circle
                          img(src="__static__img/general/direction-13.png" srcset="__static__img/general/direction-13@2x.png 2x" width="39" height="36" alt="" aria-hidden="true")
                        span.permit__name Кино лагерь

    | <svg xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" preserveAspectRatio="none"  viewBox="0 0 1440 200">
    |   <path fill="#ECF8E4" fill-rule="evenodd" d="M385.06 59.7c246.64 0 419.99 139.58 686.92 139.58 266.92 0 368.02-69.8 368.02-69.8V0H0v138.18S138.42 59.7 385.06 59.7z" clip-rule="evenodd"/>
    | </svg>
