mixin why-like(data)
  section.why-like
    .why-like__inner
      .container
        .why-like__header
          h2.why-like__title.h1 Почему детям у нас нравится?
          a(href="#").why-like__button.button.button--outline.button--medium смотреть видео-отзывы детей
        .why-like__list-wrapper
          .why-like__img.d-none.d-xl-block
            img(src="__static__img/general/why-like.png" srcset="__static__img/general/why-like@2x.png 2x" width=454 height=539 alt="" aria-hidden="true" loading="lazy")
          ul.why-like__list
            li.why-like__item.li.why-like__item--1
              span.why-like__circle.yellow много новых друзей
            li.why-like__item.li.why-like__item--2
              span.why-like__circle.pink позитивные эмоции
            li.why-like__item.li.why-like__item--3
              span.why-like__circle.green раскрыть в себе новые таланты
            li.why-like__item.li.why-like__item--4
              span.why-like__circle.yellow попробовать  новое хобби
            li.why-like__item.li.why-like__item--5
              span.why-like__circle.green научиться основам тайм менеджмента
            li.why-like__item.li.why-like__item--6
              span.why-like__circle.pink членство в клубе Командор!
    .wave
      | <svg xmlns="http://www.w3.org/2000/svg" fill="none" preserveAspectRatio="none" aria-hidden="true"  viewBox="0 0 1440 144">
      |       <path fill="#ECF8E4" fill-rule="evenodd" d="M1138.32 133.05c-85.39-7.66-168.2-26-277.34-72.22C818.35 42.5 750.24 16.06 716.26 8.98 682.27 1.9 640.5-2.3 607.54 1.32c-14.7 1.6-32.55 2.02-72.15 10.7-39.17 9.09-83.8 23.97-114.33 35.67C361.58 70.65 284.4 79.32 228.1 80.33 103.68 82.64 0 35.84 0 35.84v107.18h1440V92.9s-74.16 28.02-152.93 37.12c-78.19 8.66-114.77 6.06-148.75 3.03z" clip-rule="evenodd"/>
      |     </svg>

