.article {
  padding-bottom: 25px;
  @include media-breakpoint-up(xl) {
    padding-bottom: 80px;
  }

  &__item {
    margin-bottom: 30px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 48px;
    }
  }

  &__img {
    display: block;
    margin-bottom: 10px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 14px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 12px;
    }
  }

  &__date {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
    @include media-breakpoint-up(xl) {
      margin-right: 15px;
    }
  }

  &__count-view {
    position: relative;
    padding-left: 19px;
    color: #afafaf;
    font-size: 14px;
    font-weight: 400;
    background: url(__static__general/eye.svg) 0 center no-repeat;
  }

  &__name {
    margin-bottom: 0;
    line-height: 1.25;
    font-size: 24px;

    a {
      display: block;
      color: inherit;

      &:hover {
        color: $green;
      }
    }
  }

  &__footer {
    text-align: center;
  }

  &__load-more {
    display: inline-flex;
    min-width: 194px;
  }
}
