mixin useful-articles(data)
  .article
    .article__list
      div(role="list").row
        div(role="listitem").col-md-6.col-lg-4
          .article__item
            a(href="#").article__img
              img(src="__static__img/content/article-preview-1.jpg" srcset="__static__img/content/article-preview-1@2x.jpg 2x" width="375" height="286" alt="")
            .article__info
              span.article__date 05.09.2018
              span.article__count-view 450
            h2.article__name
              a(href="#") Как подготовить ребенка к&nbsp;разлуке?
        div(role="listitem").col-md-6.col-lg-4
          .article__item
            a(href="#").article__img
              img(src="__static__img/content/article-preview-2.jpg" srcset="__static__img/content/article-preview-2@2x.jpg 2x" width="375" height="286" alt="")
            .article__info
              span.article__date 05.09.2018
              span.article__count-view 450
            h2.article__name
              a(href="#") Как выбрать направление лагеря для вашего ребенка
        div(role="listitem").col-md-6.col-lg-4
          .article__item
            a(href="#").article__img
              img(src="__static__img/content/article-preview-3.jpg" srcset="__static__img/content/article-preview-3@2x.jpg 2x" width="375" height="286" alt="")
            .article__info
              span.article__date 05.09.2018
              span.article__count-view 450
            h2.article__name
              a(href="#") Командный дух: развитие ребенка в&nbsp;социуме
        div(role="listitem").col-md-6.col-lg-4
          .article__item
            a(href="#").article__img
              img(src="__static__img/content/article-preview-4.jpg" srcset="__static__img/content/article-preview-4@2x.jpg 2x" width="375" height="286" alt="")
            .article__info
              span.article__date 05.09.2018
              span.article__count-view 450
            h2.article__name
              a(href="#") Лыжи и&nbsp;сноуборд: развитие спортивных качеств вашего ребенка
        div(role="listitem").col-md-6.col-lg-4
          .article__item
            a(href="#").article__img
              img(src="__static__img/content/article-preview-5.jpg" srcset="__static__img/content/article-preview-5@2x.jpg 2x" width="375" height="286" alt="")
            .article__info
              span.article__date 05.09.2018
              span.article__count-view 450
            h2.article__name
              a(href="#") Почему грамотный выбор лагеря повлияет на&nbsp;развитие ребенка

    .article__footer
      a(href="#").article__load-more.button.button--outline.button--medium загрузить еще статьи
