mixin medicine(data)
  section.medicine
    .container
      span.medicine__lead.lead а&nbsp;также в&nbsp;нашем лагере:
      h2.medicine__title.h1 Безопасность и&nbsp;медицина
      .medicine__list.features
        div(role="list").row.justify-content-lg-center
          div(role="listitem").col-6.col-sm-4.col-lg-3.col-xl-2
            .features__item
              .features__circle
                img(src="__static__img/general/fetaures-1.svg" alt="" width=54 height=56 aria-hidden="true")
              span.features__name больница в&nbsp;20&nbsp;минутах (дежурный автомобиль)
          div(role="listitem").col-6.col-sm-4.col-lg-3.col-xl-2
            .features__item
              .features__circle
                img(src="__static__img/general/living-4.svg" alt="" width=46 height=56 aria-hidden="true")
              span.features__name охраняемая территория
          div(role="listitem").col-6.col-sm-4.col-lg-3.col-xl-2
            .features__item
              .features__circle
                img(src="__static__img/general/fetaures-3.svg" alt="" width=50 height=56 aria-hidden="true")
              span.features__name врач на&nbsp;территории лагеря
          div(role="listitem").col-6.col-sm-4.col-lg-3.col-xl-2
            .features__item
              .features__circle
                img(src="__static__img/general/fetaures-4.svg" alt="" width=35 height=56 aria-hidden="true")
              span.features__name обязательные мед. справки для всех детей
          div(role="listitem").col-6.col-sm-4.col-lg-3.col-xl-2
            .features__item
              .features__circle
                img(src="__static__img/general/medicine-1.svg" alt="" width=56 height=56 aria-hidden="true")
              span.features__name обязательный осмотр до&nbsp;смены
          div(role="listitem").col-6.col-sm-4.col-lg-3.col-xl-2
            .features__item
              .features__circle
                img(src="__static__img/general/medicine-2.svg" alt="" width=48 height=48 aria-hidden="true")
              span.features__name медицинская страховка
          div(role="listitem").col-6.col-sm-4.col-lg-3.col-xl-2
            .features__item
              .features__circle
                img(src="__static__img/general/medicine-3.svg" alt="" width=52 height=56 aria-hidden="true")
              span.features__name на&nbsp;каждые 5&nbsp;детей&mdash;&nbsp;1&nbsp;взрослый
          div(role="listitem").col-6.col-sm-4.col-lg-3.col-xl-2
            .features__item
              .features__circle
                img(src="__static__img/general/medicine-4.svg" alt="" width=48 height=56 aria-hidden="true")
              span.features__name дети под присмотром 24&times;7

      .medicine__footer
        .medicine__special-offer.special
          .special__header
            img(src="__static__img/general/gift.svg" width="48" height="48" aria-hidden="true" alt="").special__img
            span.special__title.h4 При заказе с&nbsp;сайта подарок
          .special__body
            .row.justify-content-xl-between
              .col-xl
               .special__desc
                 p.
                  Просим Вас с&nbsp;пониманием отнестись к&nbsp;требованиям и&nbsp;правилам описанным в&nbsp;разделе &laquo;Для родителей: Кодекс командор&raquo;, ведь их&nbsp;соблюдение всеми родителями гарантирует безопасность Ваших детей. Например, это касается обязательной мед. справки и&nbsp;наличие паспорта в&nbsp;родительский день
              .col-xl-auto
                a(href="#book").special__book.button.button--has-arrow.button--primary.js-scrollTo Забронировать

        .medicine__important
          strong Важно!
          p.
            Просим Вас с&nbsp;пониманием отнестись к&nbsp;требованиям и&nbsp;правилам описанным в&nbsp;разделе &laquo;Для родителей: Кодекс командор&raquo;, ведь их&nbsp;соблюдение всеми родителями гарантирует безопасность Ваших детей. Например, это касается обязательной мед. справки и&nbsp;наличие паспорта в&nbsp;родительский день

