mixin statistics(data)
  section.statistics
    .statistics__inner
      .container
        h2.statistics__title.h1 Факты о&nbsp;лагере Komandor Camp
        p.statistics__subtitle *По&nbsp;данным на&nbsp;1&nbsp;ноября 2018 года
        .statistics__list
          div(role="list").row
            div(role="listitem").col-6.col-md-3
              .statistics__item.statistics__item--1
                img(src="__static__img/general/stat-1.svg" alt="" width=51 height=61 aria-hidden="true")
                span.statistics__count 658
                span.statistics__name смен<br>проведено
            div(role="listitem").col-6.col-md-3
              .statistics__item.statistics__item--2
                img(src="__static__img/general/stat-2.svg" alt="" width=49 height=60 aria-hidden="true")
                span.statistics__count 14
                span.statistics__name уникальных направлений

            div(role="listitem").col-6.col-md-3
              .statistics__item.statistics__item--3
                img(src="__static__img/general/stat-3.svg" alt="" width=65 height=60 aria-hidden="true")
                span.statistics__count 1399
                span.statistics__name пионеров

            div(role="listitem").col-6.col-md-3
              .statistics__item.statistics__item--4
                img(src="__static__img/general/stat-4.svg" alt="" width=55 height=60 aria-hidden="true")
                span.statistics__count 5 детей
                span.statistics__name на&nbsp;одного вожатого
        .statistics__has.features
          div(role="list").row.justify-content-md-center
            div(role="listitem").col-6.col-md-4.col-lg-3.col-xl-2
              .features__item
                .features__circle
                  img(src="__static__img/general/fetaures-1.svg" alt="" width=50 height=56 aria-hidden="true")
                span.features__name транспорт с&nbsp;лицензией
            div(role="listitem").col-6.col-md-4.col-lg-3.col-xl-2
              .features__item
                .features__circle
                  img(src="__static__img/general/fetaures-2.svg" alt="" width=46 height=56 aria-hidden="true")
                span.features__name охраняемая территория
            div(role="listitem").col-6.col-md-4.col-lg-3.col-xl-2
              .features__item
                .features__circle
                  img(src="__static__img/general/fetaures-3.svg" alt="" width=50 height=56 aria-hidden="true")
                span.features__name врач на&nbsp;территории лагеря
            div(role="listitem").col-6.col-md-4.col-lg-3.col-xl-2
              .features__item
                .features__circle
                  img(src="__static__img/general/fetaures-4.svg" alt="" width=35 height=56 aria-hidden="true")
                span.features__name  обязательные мед. справки для всех детей
            div(role="listitem").col-6.col-md-4.col-lg-3.col-xl-2
              .features__item
                .features__circle
                  img(src="__static__img/general/fetaures-5.svg" alt="" width=56 height=56 aria-hidden="true")
                span.features__name полностью расписанный день
            div(role="listitem").col-6.col-md-4.col-lg-3.col-xl-2
              .features__item
                .features__circle
                  img(src="__static__img/general/fetaures-6.svg" alt="" width=47 height=56 aria-hidden="true")
                span.features__name уникальная система мотивации по&nbsp;достижению целей
            div(role="listitem").col-6.col-md-4.col-lg-3.col-xl-2
              .features__item
                .features__circle
                  img(src="__static__img/general/fetaures-7.svg" alt="" width=56 height=54 aria-hidden="true")
                span.features__name возможно вегетарианское питание
            div(role="listitem").col-6.col-md-4.col-lg-3.col-xl-2
              .features__item
                .features__circle
                  img(src="__static__img/general/fetaures-8.svg" alt="" width=55 height=56 aria-hidden="true")
                span.features__name питание для аллергиков
            div(role="listitem").col-6.col-md-4.col-lg-3.col-xl-2
              .features__item
                .features__circle
                  img(src="__static__img/general/fetaures-9.svg" alt="" width=42 height=56 aria-hidden="true")
                span.features__name ежедневные мастер-классы и&nbsp;мероприятия
            div(role="listitem").col-6.col-md-4.col-lg-3.col-xl-2
              .features__item
                .features__circle
                  img(src="__static__img/general/fetaures-10.svg" alt="" width=62 height=56 aria-hidden="true")
                span.features__name Фирменная аттрибутика
    .wave
      | <svg xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" preserveAspectRatio="none"  viewBox="0 0 1440 144">
      |   <path fill="#ECF8E4" fill-rule="evenodd" d="M1138.32 133.05c-85.39-7.66-168.2-26-277.34-72.22C818.35 42.5 750.24 16.06 716.26 8.98 682.27 1.9 640.5-2.3 607.54 1.32c-14.7 1.6-32.55 2.02-72.15 10.7-39.17 9.09-83.8 23.97-114.33 35.67C361.58 70.65 284.4 79.32 228.1 80.33 103.68 82.64 0 35.84 0 35.84v107.18h1440V92.9s-74.16 28.02-152.93 37.12c-78.19 8.66-114.77 6.06-148.75 3.03z" clip-rule="evenodd"/>
      | </svg>
