.documents {
  padding-top: 25px;
  padding-bottom: 25px;
  @include media-breakpoint-up(xl) {
    padding-top: 12px;
    padding-bottom: 60px;
  }
  &__item {
    margin-bottom: 30px;
  }
  &__name {
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    @include media-breakpoint-up(xl) {
      margin-bottom: 30px;
    }
  }
  &__side {
    display: block;
    margin-bottom: 8px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 20px;
    }
  }
  &__col {
    &.is-uploaded {
      .documents__remove {
        opacity: 1;
        visibility: visible;
      }
      .documents__loading-container {
        background-image: none;
      }
    }
  }
  &__loading-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-bottom: 10px;
    padding: 15px 28px;
    border: 1px dashed #D1D1D1;
    background-image: url(__static__general/documents.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 71px 85px;
    background-color: white;
    @include media-breakpoint-up(xl) {
      height: 280px;
      margin-bottom: 20px;
      padding: 20px 20px;
    }
    img {
      max-height: 261px;
      max-width: 248px;
      @include media-breakpoint-up(xl) {
        max-height: 252px;
        max-width: 320px;
      }
    }
  }
  &__remove {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.38 18.38'%3E%3Cpath d='M1.41 0L0 1.41l17 17L18.38 17z'/%3E%3Cpath d='M1.41 18.38l17-17L17 0 0 17z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
  }
  &__upload {
    margin-bottom: 32px;
    cursor: pointer;
    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
    }
  }
  &__submit {
    min-width: 146px;
  }
}
