
.interesting {
  padding-top: 32px;
  padding-bottom: 5px;
  @include media-breakpoint-up(xl) {
    padding-top: 16px;
    padding-bottom: 14px;
  }

  &__title {
    display: block;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
  }

  &__item {
    display: block;
    position: relative;
    margin-bottom: 20px;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      background: linear-gradient(360deg, rgba(255, 255, 255, 0.760785) 4%, rgba(255, 255, 255, 0.0001) 59.53%);
    }
  }

  &__name {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 0;
    padding: 20px 10px;
    z-index: 1;
    color: black;

    &:hover {
      color: black;
    }

    @include media-breakpoint-up(xl) {
      padding: 20px;
      max-width: 380px;
    }
  }
}
