.questions {
  padding-bottom: 15px;
  @include media-breakpoint-up(xl) {
    padding-bottom: 75px;
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 50px;
      align-items: center;
    }
  }
  &__title {
    margin-bottom: 20px;
    @include media-breakpoint-up(xl) {
      max-width: 938px;
      margin-bottom: 30px;
      text-align: center;
    }
  }
  &__show-all {
    min-width: 262px;
  }
}
